@page
@model TpAchatSqlite.Pages.Produits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produit</h4>
    <hr />
    
        <img src="@Model.Produit.Images" style="max-height: 300px; max-width: 300px;" />
    
    <dl class="row">
        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.NomProduit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.NomProduit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produit.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produit.Marque)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produit?.IDProduit">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
